
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Ubuntu:wght@300&display=swap');


:root{
    --primary-400:#57a203;
    --primary-100:#F5FEE7;
    --neutral-0:#ffffff;
    --neutral-100:#F8F9FA;
    --neutral-300:#DEE2E6;
    --neutral-600:#6C757D;
    --neutral-900:#212529;

}


*, *::before, *::after {
    box-sizing: border-box;
}
img {
    vertical-align: middle;
}

a {
    color: var(--primary-400);
    text-underline-offset: 4px;
    display: block;
}

body{
    font-family: "Noto Sans TC", sans-serif;
    font: 16px;
    line-height: 1.5;
    letter-spacing: 0.05em;
    color: var(--neutral-900);
}

/* 通用樣式 */

.container{
    width: 856px;
    margin: 0 auto;
}

.h1{
    font-style: 40px;
    line-height: 1.2;
    font-weight: 700;
}

.h3{
    font-style: 28px;
    line-height: 1.2;
    font-weight: 700;
}

.h4{
    font-style: 24px;
    line-height: 1.2;
    font-weight: 700;
}

.h5{
    font-style: 20px;
    line-height: 1.2;
    font-weight: 700;
}

.text-sm{
    font-style: 14px;
    font-weight: 400;
}

.text-white{
    color: var(--neutral-0);
}

.text-neutral-600{
    color: var(--neutral-600);
}

.text-primary-400{
    color: var(--primary-400);
}

.bg-primary-100{
    background-color:var(--primary-100);
}

.bg-neutral-600{
    background-color: var(--neutral-100);
}



/* 間距 */

.p-32{
    padding: 32px;
}

.py-8{
    padding-top: 8px;
    padding-bottom: 8px;
}

.py-64{
    padding-top: 64px;
    padding-bottom: 64px;
}

.pb-48{
    padding-bottom: 48px;
}

.pe-8{
    padding-right: 8px;
}

.mb-4{
    margin-bottom: 4px;
}

.mb-12{
    margin-bottom: 12px;
}

.mb-16{
    margin-bottom: 16px;
}

.mb-24{
    margin-bottom: 24px;
}

.mb-48{
    margin-bottom: 48px;
}

/* page */
.header{
    background-image: url('https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week1/hero.png?raw=true');
}

.eng-title{
    font-size: 28px;
}